data_dynamic/prices_API_all_1h.json
data_dynamic/prices_API_all_6h.json
data_dynamic/prices_API_all_24h.json
data_dynamic/prices_API_all_latest.json
data_dynamic/prices_potions_1h.json
data_dynamic/prices_potions_6h.json
data_dynamic/prices_potions_24h.json
